.coupons{
    display: inline;
}
.couponsHolder{
    display: inline;
}
.center{
    text-align: center;
}
.loaderContainer {
    display: flex;
    justify-content: center;
  }
  .paddingTop{
      margin-top: 30px;
      margin-bottom: -24px;
  }
  .marginTop{
      margin-bottom: 20px;
      margin-top: 20px;
  }
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top:40px;
    margin-bottom:40px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .incrementIcons{
      margin-right:70%;
  }

  .backgroundCircle{
      background-color: #fde428;
      border-radius: 1em;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
  }

  .backgroundCircle:hover{
    background-color: #002e5b;
    color: #fde428;
    cursor: pointer;
  }