
.signupBox {
    margin-bottom: 15px;
    margin-top: 15px;
  }
@media only screen and (min-width: 959px) {
  .signupBox {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    column-gap: 40px;
  }
}
.signupbtn{
    margin-top:10px;
    background-color:#fde428;
    border-radius:5px;
    color: #000080;
    width:34.3%;
    margin-left:6px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
  }
  
  /*signin form as a whole*/
  .signinForm {
  width: 80%;
  margin: 0 auto;
  } */
  
  
  /*Filler text alignment*/
  .signupInput {
  display: inline;
  }
  
  input {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  }
  
 
  @media all and (min-width: 35rem) and (max-width: 60rem) {
  
  label {
  display: block;
  }
  }
  
 
  @media all and (min-width:60rem) {
  label {
  display: inline;
  }
  
  input {
  width: 90%;
  }
  
  }
  
  .forgotPass{
    text-decoration: none;
    width:95%;
    text-align:center;
  }
  
  .forgotPass:hover{
    color:cyan;
  }
  @media only screen and (max-width: 959px) {
      .forgotPass {
        width:98.5%;
        margin-left:6px;   
      }
      .signupbtn{
        margin-left:6px; 
        width: 33.333%;
        margin-right: 5%;
      }
  }
  
  @media only screen and (max-width: 559px) {
      .forgotPass {
          width:97.5%;
      }
      .signupbtn{
        width: 33.333%;
        margin-right: 5%;
        margin-top:30px;
      }
  }
  
  
  .radioPad {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
    align-content: center;
  }
  @media only screen and (min-width: 440px) {
    .radioPad {
      width: 30%;
    }
  }

  @media (min-width: 560px) {
    .radioPad {
      width: 62%;
      text-align: center;
    }
  }


  .radioPad__wrapper {
    display: block;
    cursor: pointer;
    background: whitesmoke;
    color: #000080;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.2rem;
    padding: .5rem;
    margin-right: 1rem;
    margin-inline-start: 50%;
  }

  .radioPad__wrapper:active,
  .radioPad__wrapper--selected {
    background: #fde428 !important;
  }
  .radioPad__wrapper:hover {
    background: #fde428;
  }
  .radioPad__radio {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
  }
  
  .forgotPass{
    margin-left:5px;
    width: 100%;
  }


  @media only screen and (max-width: 992px) {
    .radioPad__wrapper {
      width: 10rem;
      margin: 0 auto;   
    }
}  

@media only screen and (max-width: 600px) {
  .radioPad__wrapper{
    width: 10rem;
    margin: 0 auto;
  }
}


.hideBuissnessIfCustomer{
  display: none;
}
.showBuissnessIfCustomer{
  display: block;
}

.buttonAndForgot{
  width: 80%;
  margin-left: 10%;
  padding-right: 2.5%;
  text-align: center;
}
.signupbtn{
  margin-top: 25px;
  margin-bottom: 25px;
}

@media only screen and (min-device-width: 119px) and (max-device-width: 748px) {
  .radioButtonsSignup, .radioPad, .radioPad__radio, .radioPad__wrapper {
    width: 100%;
    padding: 1%;
  }
}

@media only screen and (min-width: 753px) and (max-width: 1025px) {
  .radioButtonsSignup, .radioPad, .radioPad__radio, .radioPad__wrapper {
    width: 100%;
    padding: 1%;
  }
}

/* .row{
  text-align: center;
} */
.lead{
  text-align: center;
}
